@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 100%;
    height: 70vh;
    color: #000000;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: rgb(138, 138, 216);
}

.brand {
    margin-top: -7px;
}

.brand span {
    color: rgb(255, 255, 255);
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;


}

.menu  li {
    list-style: none; 
}

.menu a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 10px; 
}

.menu .active{
    color: aqua;
}

.menu a:hover{
    border-radius: 10px;
    background-color: aqua;
    color: rgb(0, 0, 0);
    transition: ease-in .4s;
}

.main {
    margin: 0 auto;
    width: 80vw;
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2em;
}

h1{
    font-size: 3em;
}

.download-cv{
    padding: 10px 20px;
    background-color: rgb(138, 138, 216);
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    -webkit-box-shadow: 1px 3px 11px -5px rgba(138, 138, 216, 0.69);
    -moz-box-shadow: 1px 3px 11px -5px rgba(138, 138, 216,0.69);
    box-shadow: 1px 3px 11px -5px rgba(138, 138, 216,0.69);
}

.download-cv:hover {
    background-color: rgb(174, 174, 238);
    box-shadow: none;
  }

.personal-img{
    margin-top: 10px;
    border: 7px solid rgb(174, 174, 238);
}

img {
    border-radius: 10px;
}

.tecnologias{
    margin: 0 auto;
    width: 80vw;
    display: grid;
    align-items: center;
}

.habilidades{
    margin: 0 auto;
    width: 80vw;
    display: grid;
    align-items: center;
}

.proyectos{
    margin: 0 auto;
    width: 80vw;
    display: grid;
    align-items: center;
}

section {
    margin: 20px 0;
}

.contacto {
    margin: 0 auto;
    background-color: rgb(138, 138, 216);
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.form-left-title{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
}

.form-left-title h2{
    font-size: 35px;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
}

.form-left-title hr{
    border: none;
    width: 100%;
    height: 5px;
    background-color: rgb(174, 174, 238);
    border-radius: 10px;
}

.form-left-title button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color:#fff;
    gap: 10px;
    border:none;
    border-radius: 50px;
    background-color:#000;
    cursor: pointer;
    width: 150px;
    height: 70px;
    margin-bottom: 10px;
}

.form-left-title button img{
    height: 20px;
    width: 30px;
    margin-left: 10px;
    color: #fff;
}

.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.contact-inputs:hover{
    outline: 2px solid rgb(174, 174, 238);
}

.form-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}

.form-right img{
    height: 300px;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.slider-item {
    flex: 0 0 auto;
    width: 100%;
    max-width: 144px;
    object-fit: cover;
    margin: 0 10px;
}

footer{
    margin-top: 20px;
    width: 100%;
}

.divfooter{
    background-color: rgb(138, 138, 216);
    width: 100%;
    margin: auto;
}

.footer-logo{
    height: 70px;
    margin: 10px;
}

.divfootercenter{
    background-color: rgb(174, 174, 238);
    display: flex;
    justify-content: center;
}

.divfooterleft{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sobremi{
    width: 200px;
}

.linkfooter{
    color: #000000;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
}

@media(max-width:600px){

}
