html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(138, 138, 216);
    padding: 10px 0;
}

nav ol {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}

nav ol li {
    margin: 0 15px;
}

nav ol li a {
    color: #000000;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
}

img {
    border-radius: 10px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

section {
    margin: 20px 0;
}

.informacion,
.tecnologias,
.habilidades,
.proyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

.contacto {
    background-color: rgb(174, 174, 238);
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 20px;
    flex-wrap: wrap;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.slider-item {
    flex: 0 0 auto;
    width: 100%;
    max-width: 300px;
    margin: 0 10px;
}

footer{
    margin-top: 20px;
}

.divfooter{
    background-color: rgb(138, 138, 216);
    width: 100%;
    margin: auto;
}

.footer-logo{
    height: 70px;
    margin: 10px;
}

.divfootercenter{
    background-color: rgb(174, 174, 238);
    display: flex;
    justify-content: center;
}

.divfooterleft{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sobremi{
    width: 200px;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.labelformulario{
    margin: 10px;
}

.linkfooter{
    color: #000000;
    font-weight: bold;
    font-size: large;
    text-decoration: none;
}

@media(max-width:600px){

}
