html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ol{
    display: flex;
    list-style-type: none;
}

nav ol li{
    margin: 0 15px;
}

nav ol li a{
    color: #000000;
    font-weight: bold;
    font-size: large;
}

img{
    border-radius: 10px;
}

.navdiv{
    background-color: rgb(138, 138, 216);
    align-items: baseline;
    width: auto;
    margin: auto;
}

.informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.tecnologias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.habilidades{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.proyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.contacto{
    background-color: rgb(174, 174, 238);
    width: 500px;
    height: 250px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    
}

.slider-container {
    display: flex;
    width: 50%;
    height: 50vh;
    overflow-x: scroll;
  }
  
.slider-item{
    flex: 0 0 100%;
    width: 100%;
    object-fit: cover;
}

footer{
    margin-top: 20px;
}

.divfooter{
    background-color: rgb(138, 138, 216);
    width: 100%;
    margin: auto;
}

.footer-logo{
    height: 70px;
    margin: 10px;
}

.divfootercenter{
    background-color: rgb(174, 174, 238);
    display: flex;
    justify-content: center;
}

.divfooterleft{
    display: flex;
    justify-content: space-around;
}

.sobremi{
    width: 200px;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.labelformulario{
    margin: 10px;
}

.linkfooter{
    color: #000000;
    font-weight: bold;
    font-size: large;
}
